.colorCategory {
  color: #ea0b0b;
}

.nameCategory:hover {
  cursor: pointer;
  background: #e8efed;
}

.linkCategory:active,
.linkCategory,
.linkCategory:hover {
  color: black;
  text-decoration: none;
}
